pec.hns.edu.vn {
   proxy /pgadmin mn_pgadmin {
	header_upstream X-Script-Name /pgadmin
	transparent
    } 
   proxy / pec:8081 {
        websocket
    }
}
mn.hns.edu.vn {
   proxy /pgadmin mn_pgadmin {
        header_upstream X-Script-Name /pgadmin
        transparent
    }
   proxy / mn:8082 {
        websocket
    }
}

tho.hns.edu.vn {
   proxy /pgadmin mn_pgadmin {
	header_upstream X-Script-Name /pgadmin
	transparent
    }
   proxy / tho:8083 {
       websocket
   }
}
thpt.hns.edu.vn {
   proxy /pgadmin mn_pgadmin {
        header_upstream X-Script-Name /pgadmin
        transparent
    }
   proxy / thpt:8084 {
        websocket
    }
}
thcs.hns.edu.vn {
   proxy /pgadmin mn_pgadmin {
        header_upstream X-Script-Name /pgadmin
        transparent
    }
   proxy / thcs:8085 {
        websocket
    }
}
elearning.hns.edu.vn {
   proxy /pgadmin mn_pgadmin {
        header_upstream X-Script-Name /pgadmin
        transparent
    }
   proxy / elearning:8086 {
        websocket
    }
}
jitsi.hpu.edu.vn {
      proxy / 27.72.249.149:8000 {
      #  websocket
      #  transparent
    }
}
search.hpu.edu.vn {
      proxy / 27.72.249.149:7700 {
      #  websocket
      #  transparent
    }
}
search.hns.edu.vn {
      proxy / 27.72.249.149:8700 {
      #  websocket
      #  transparent
    }
}
db-erp.hpu.edu.vn {
   proxy /pgadmin mn_pgadmin_hpu {
        header_upstream X-Script-Name /pgadmin
        transparent
    }
     proxy / graphql-engine-hpu:8087 {
        websocket
    }
}
erp.hpu.edu.vn {
      proxy / http://27.72.249.149:8069 {
        websocket
        transparent
    }
      proxy /longpolling http://27.72.249.149:8072 {
        websocket
        transparent
    }

}
erp.hns.edu.vn {
      proxy / http://27.72.249.149:8068 {
        websocket
        transparent
    }
}
db-erp.hns.edu.vn {
   proxy /pgadmin mn_pgadmin_hns {
        header_upstream X-Script-Name /pgadmin
        transparent
    }
     proxy / graphql-engine-hns:8088 {
        websocket
    }
}
