faker==5.0.2
gql[all]==3.0.0a4
xlsxwriter==1.1.2
xlrd==1.1.0
pypeg2==2.15.2
py3o.template
py3o.formats
PyPDF2
requests
kafka-python
kq
OPA-python-client
meilisearch
boto3
gevent
raven
pandas
cachetools
algoliasearch<2.0.0
elasticsearch>=7.0.0,<8.0.0
unidecode

# tests
vcrpy-unittest
zoomus
sodapy
num2words
responses
