name: ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push CI Production
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile.ci
          push: true
          tags: checkraiser/odoo-14.0.1.2:ci
      -
        name: Build and push CI Dev
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile.ci.dev
          push: true
          tags: checkraiser/odoo-14.0.1.2:ci.dev
      -
        name: Build and push CI Dev (13)
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile.ci.13.dev
          push: true
          tags: checkraiser/odoo-13.0:ci.dev